node_modules
**/node_modules
.pnpm-store
**/.pnpm-store

.next
**/.next
out
**/out

dist
**/dist
build
**/build
coverage
**/coverage

.env
**/.env
.env*.local
**/.env*.local

.git
.github
.vscode
.idea

*.log
pnpm-debug.log*
