# Backend

PORT=4000
WEB_ORIGIN=http://localhost:3000
CANVAS_BASE_URL=https://usn.instructure.com
HUGGINGFACE_API_KEY=nøkkel
MONGO_URI=mongodb://localhost:27017/bachelor-db
REDIS_URL=redis://localhost:6379

# Sikkerhet / Auth
# Tilgangstoken (kort levetid) - BRUK EN STERK NØKKEL!
JWT_ACCESS_SECRET=endre-meg-til-noe-langt-og-sikkert
# Refresh token (lang levetid) - Må være forskjellig fra access secret
JWT_REFRESH_SECRET=endre-meg-til-noe-annet-langt-og-sikkert

# Cookie navn for JWT (kan endres for å "skjule" teknologien eller unngå kollisjoner)
JWT_COOKIE_NAVN=studywise_auth
JWT_REFRESH_COOKIE_NAVN=studywise_auth_refresh
# Krypteringsnøkkel for sensitive data som canvas token
ENCRYPTION_KEY=endre-meg-til-noe-langt-og-sikkert
LOG_LEVEL=info
NODE_ENV=development/production

# Kjør denne kommandoen for å generere en krypteringsnøkkel kjør den 3 ganger:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"